{% extends 'Main/base.html' %}
{% load i18n %}
{% load static%}


{% block head %}
	<title>HistoriaUltima</title>
	<meta name="description" content="Home page for game HistoriaUltima.">
	<link rel="canonical" href="https://{{domain_name}}{% url 'home' %}" />
{% endblock %}

{% block content %}
	<div class="canvas_workspace">
		<canvas id='canvas' class="borders" data-vertex-shader="{% static "WebGLEngine/shaders/geometry_bg.vert" %}" data-fragment-shader="{% static "WebGLEngine/shaders/geometry_bg.frag" %}">
		</canvas>
	</div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'Main/css/home.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Простой 3д рендерер для сайта -->
    <script src="{% static 'WebGLEngine/js/webgl_engine_v0.js' %}"></script>
	<!-- Скрипт настройки мира -->
    <script src="{% static 'Main/js/worldHandler.js' %}"></script>
	<!-- Скрипт настройки камеры -->
    <script src="{% static 'Main/js/cameraHandler.js' %}"></script>
	<!-- Скрипт для управления -->
    <script src="{% static 'Main/js/controlHandler.js' %}"></script>
{% endblock %}
