.canvas_workspace{
    width: 100%;
    height: 100svh;
    padding: 5px;
}

canvas{
    width: 100%;
    height: 100%;
}
.canvas_camera_move{
    cursor:grabbing;
}

.borders{
    border: 2px solid grey;
}